.nav {
  /* background-color: #333; */
  padding: 20px;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navItem {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  color: #2d3a4c;
  background-color: #ededed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.navItem:hover {
  padding: 10px 20px;
  border-radius: 5px;
  color: #2d3a4c;
  background-color: #dddddd;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  font-size: 16px;
}

.navLink:hover {
  text-decoration: underline;
}
